/* styles.module.css */
.conten{
  border-radius: 10px;
  padding: 15px;
  background-image: url("https://img.freepik.com/vector-premium/fondo-negro-abstracto-estrellas-su-diseno-vector-cielo-estrellado-telon-fondo-espacio_158941-101.jpg");

 
}
.numero{
  color: white;
}
.paginationButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.paginationButtons button {
  background-color: #00aeff;
  color: #000000;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0 10px;
  cursor: pointer;
}

.paginationButtons button:hover {
  background-color: #ffffff;
}

.paginationButtons h2 {
  margin: 0 10px;
}
