/* styles.module.css */
.homeCont {    
  padding: 20px;
  background-color: #e0e0e0fb;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #000000, rgb(8, 26, 50));
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.87);
  border-radius: 10px;
}

.navbarButtons {
  display: flex;
}

.navbarButtons button {
  background: none;
  border: none;
  color: white;
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  border-radius: 4px;
}

.navbarButtons button:hover {
  background-color: rgba(155, 143, 143, 0.733);
}

.navbarButtons button:active {
  transform: scale(0.95); /* Efecto de pulsación al presionar el botón */
}

.selectContainer {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.customSelect {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background: white;
  appearance: none; /* Elimina el estilo predeterminado del select en algunos navegadores */
  font-size: 16px;
  transition: border-color 0.2s;
}

.customSelect:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.selectCon{
  margin-top: 11px;
  margin-left: 5px;
}
.selCon{
  margin-top: 11px;
}

.card {
  background-color: transparent;
  background-image: url("https://www.eltiempo.com/uploads/2020/12/09/5fd1466c9bad3.jpeg");
  background-size: cover; /* Ajusta la imagen de fondo al tamaño de la tarjeta */
  background-position: center; /* Centra la imagen de fondo */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.paginationButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButtons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.2s, transform 0.2s;
  border-radius: 4px;
}

.paginationButtons button:hover {
  background-color: #0056b3;
}

.paginationButtons button:active {
  transform: scale(0.95); /* Efecto de pulsación al presionar el botón */
}

@media (max-width: 768px) {
  .homeCont{
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  .navbar {
    flex-direction: column;
    align-items: center;
   
  }

  .navbarButtons {
    flex-direction: column;
    margin-top: 10px;
  }

  .navbarButtons button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
  }

  .selectContainer {
    flex-direction: column;
    margin: 5px 0;
  }

  .customSelect {
    width: 100%;
  }

  .selectCon,
  .selCon {
    margin-top: 5px;
  }

  .card {
    margin-top: 10px;
  }

  .paginationButtons {
    margin-top: 10px;
  }
}