.cardsCont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.letra{
  color: white;
}

@media (max-width: 768px) {
  .cardsCont {
    justify-content: space-around;
  }
}